.logo {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.logo img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.header {
  /* margin-left: 35%; */
  /* flex-direction: row;
  display: flex; */
  width: fit-content;
  margin-inline: auto;
}

/* header form {
  display: flex;
  align-items: center;
} */

/*
h1 {
    margin-right: 30%
}  */
